/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1190px) {
  .info-topbar__wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
  }

  .info-topbar__container {
    min-width: 101px;
    max-width: 101px;
  }

  .header-topbar__container-link {
    flex-wrap: wrap;
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .layout__left {
    position: fixed;
    background: rgba(48, 50, 66);
    z-index: 99;
  }

  .layout__left {
    display: none;
  }

  .btn-close-menu {
    display: flex;
  }

  .header-topbar__container-link {
    display: none;
  }

  .menu__item_hidden {
    display: flex;
  }

  .layout__left.open {
    display: flex;
  }

  .header-topbar__nav {
    width: 100%;
    padding-right: 0;
    margin-right: 10px;
  }

  .info-topbar__wrapper {
    gap: 2px;
  }

  .info-topbar__container {
    min-width: 101px;
    max-width: 101px;
  }

  .header-topbar__container-link {
    flex-wrap: wrap;
  }

  .header-topbar__btn {
    display: flex;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 710px) {
  .header-topbar__wrapper,
  .main-content {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (max-width: 620px) {
  .layout {
    height: auto;
  }

  .info-topbar {
    justify-content: flex-end;
  }

  .info-topbar__wrapper {
    display: none;
  }

  .header-topbar__nav {
    border: none;
  }

  .profile {
    flex-direction: row-reverse;
  }

  .profile__avatar-container {
    margin: 0 0 0 15px;
  }

  .profile__info {
    min-width: 123px;
    margin: 0;
  }

  .profile__name {
    flex-direction: row-reverse;
  }

  .profile__status {
    justify-content: flex-end;
  }

  .profile__role {
    margin: 0;
  }

  .item-text,
  .text_size_small,
  .profile__avatar-container,
  .profile__status {
    font-size: 12px;
  }

  .section-wrapper__title,
  .profile__name {
    font-size: 14px;
  }
}
