* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", "Arial", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}

.fullHeight {
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 1440px;
  width: 100%;
  background: #2b2c3a;
}

.layout__left {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  height: 100vh;
  background: rgba(156, 165, 236, 0.04);
  position: sticky;
  top: 0;
  left: 0;
}

.layout__right {
  display: flex;
  flex-direction: column;
  max-width: 1160px;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.0001) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.link {
  text-decoration: none;
}

.link:hover,
.header-topbar__btn:hover {
  color: rgba(235, 32, 32);
  cursor: pointer;
}

.link:active,
.header-topbar__btn:active {
  color: rgb(115, 166, 243);
}

.item-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.link_opacity_h {
  color: rgba(255, 255, 255, 0.6);
}

.text_uppercase {
  text-transform: uppercase;
}

.text_color_white {
  color: rgba(255, 255, 255);
}

.text_size_small {
  color: rgba(255, 255, 255);
  font-size: 13px;
  line-height: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: rgba(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(107, 105, 249) 0%,
    rgba(111, 110, 255) 100%
  );
}

.button {
  background: linear-gradient(
    90deg,
    rgba(107, 105, 249) 0%,
    rgba(111, 110, 255) 100%
  );
  border-radius: 4px;
  border: none;
  width: 86px;
  height: 30px;
  color: rgba(255, 255, 255);
}

.button:hover {
  cursor: pointer;
  color: rgba(89, 241, 89);
  outline: 1px solid rgba(89, 241, 89);
}

.button:active {
  color: rgba(66, 29, 27);
  outline: 1px solid rgba(66, 29, 27);
}

.layout__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.layout__body_overflow-y_scroll {
  overflow-y: scroll;
}

/* Основная часть - HEADER */

.header-topbar {
  display: flex;
  max-height: 71px;
  min-height: 71px;
  height: 100%;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

.header-logo {
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
  padding: 14px 29px 13px 30px;
  color: rgba(255, 255, 255);
}

.header-logo__outer {
  display: flex;
  flex-direction: column;
  max-width: 137px;
  width: 100%;
  line-height: 1em;
}

.header-logo__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo__img {
  max-width: 39px;
  max-height: 8px;
  height: 100%;
  width: 100%;
}

.header-logo__year {
  display: flex;
  font-size: 11px;
  font-weight: 500;
}

.header-logo__text {
  display: flex;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.btn-close-menu {
  display: none;
  justify-content: center;
  align-items: center;
  border: none;
  width: 14px;
  height: 14px;
  background: rgb(255, 255, 255, 0);
}

.btn-close-menu__vector-left {
  height: 17px;
  width: 2px;
  background: rgb(255, 255, 255);
  transform: rotate(45deg);
  z-index: 1;
}

.btn-close-menu__vector-right {
  height: 17px;
  width: 2px;
  background: rgb(255, 255, 255);
  transform: rotate(90deg);
  z-index: 2;
}

.btn-close-menu:hover,
.btn-close-menu:active {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-close-menu:hover .btn-close-menu__vector-left,
.btn-close-menu:hover .btn-close-menu__vector-right {
  background: rgb(240, 51, 60);
}
.btn-close-menu:active .btn-close-menu__vector-left,
.btn-close-menu:active .btn-close-menu__vector-right {
  background: rgb(158, 53, 118);
}

.header-topbar__wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 14px 45px 13px 55px;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(
    115deg,
    rgba(43, 44, 58) 0%,
    rgba(50, 51, 65) 65%,
    rgba(55, 56, 70) 100%
  );
}

.header-topbar__nav {
  display: flex;
  max-width: 243px;
  padding-right: 28px;
  width: 100%;
  margin-right: 28px;
  justify-content: space-between;
  border-right: 1px solid rgba(216, 216, 216, 0.1);
}

.header-topbar__btn {
  display: none;
  margin-right: 10px;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
}

.header-topbar__container-link {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.info-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 504px;
  width: 100%;
}

.info-topbar__wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 207px;
  width: 100%;
}

.info-topbar__container {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 7px;
  height: 24px;
  background: rgba(255, 255, 255, 0.06);
}

.icon-light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background: rgba(255, 71, 56);
  margin: 0 10px 0 -4px;
}

.icon-light__item {
  width: 7px;
  height: 12px;
}

.info-topbar__text {
  line-height: 10px;
  width: 100%;
}

.info-topbar__container-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-topbar__text_weight_semi-bold {
  font-weight: 600;
}

.info-topbar__text_size_m {
  margin: 0 0 2px 4px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
}

.profile {
  display: flex;
  max-width: 190px;
  width: 100%;
  margin-left: 14px;
}

.profile__avatar-container {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.profile__avatar {
  max-width: 44px;
  min-width: 44px;
}

.profile__info {
  align-self: center;
  width: 100%;
}

.profile__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  min-width: 133px;
  width: 100%;
}

.profile__status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgba(36, 203, 141);
  font-size: 13px;
  font-weight: 600;
}

.profile__indicator {
  width: 6px;
  height: 6px;
  margin-right: 5px;
  border-radius: 50%;
  background: rgba(36, 203, 141);
}

.profile__role {
  margin: 3px 0 0 15px;
  text-transform: uppercase;
  color: rgba(255, 255, 255);
  max-width: 40px;
  min-width: 40px;
  width: 100%;
  height: 14px;
  font-size: 11px;
}

/* Основная часть - MAIN */

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 55px;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60px;
}

.section-wrapper__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 17px;
}

.section-wrapper__title {
  font-size: 22px;
  font-weight: 400;
  color: rgba(255, 255, 255);
}

.section-wrapper__title_size_xx-small {
  line-height: 16px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.4);
}

.section-wrapper__nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 8px;
}

.section-wrapper__button {
  font-size: 12px;
  line-height: 17px;
  margin: 0 5px;
}

.section-wrapper__button-swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0);
  border-radius: 4px;
  margin-left: 5px;
}

.icon-prev {
  transform: rotate(270deg);
  color: rgba(255, 255, 255);
}

.icon-next {
  transform: rotate(90deg);
  color: rgba(255, 255, 255);
}

.section-wrapper__main {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.list-lectures {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all ease 1s;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 255px;
  height: 294px;
  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 6px;
  position: relative;
  flex-shrink: 0;
  margin-right: 10px;
}

.item-card:last-child {
  margin-right: 0;
}

.item-card__img {
  display: flex;
  position: relative;
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 144px;
}

.item-card__img_maik-jonietz {
  background: url("../images/maik-jonietz.png") no-repeat center / cover;
}

.item-card__img_ferenc-almasi {
  background: url("../images/ferenc-almasi.png") no-repeat center / cover;
}

.item-card__img_pankaj-patel {
  background: url("../images/pankaj-patel.png") no-repeat center / cover;
}

.item-card__img_nick-karvounis {
  background: url("../images/nick-karvounis.png") no-repeat center / cover;
}

.item-card__type {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 12px;
  line-height: 12px;
  max-width: 50px;
  width: 100%;
  padding: 4px;
}

.item-card__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}

.item-card__title {
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 10px;
}

.item-card__description {
  line-height: 18px;
}

.item-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  border-top: 1px solid rgba(216, 216, 216, 0.1);
  bottom: 0;
  left: 0;
  padding: 15px;
  width: 100%;
}

/* БОКОВОЕ МЕНЮ */

.aside {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
  min-height: 247px;
  height: 100%;
  overflow-y: auto;
}
.aside::-webkit-scrollbar {
  width: 2px;
}

.aside::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

.aside::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(107, 105, 249) 0%,
    rgba(111, 110, 255) 100%
  );
}
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgba(216, 216, 216, 0.1);
  padding: 15px 0 20px 0;
}

.menu__item {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 15px;
}

.menu__item_hidden {
  display: none;
}

.menu__item-wrapper,
.check-icon {
  display: flex;
  align-items: center;
}

.menu__item-wrapper {
  justify-content: space-between;
  padding: 0 30px;
}

.icon-dropdown {
  max-width: 10px;
  min-width: 10px;
  height: 6px;
  transform: rotate(180deg);
}

.icon-dropdown:hover {
  cursor: pointer;
}

.check-input {
  appearance: none;
}

.check-input:checked + .check-icon {
  transform: rotate(180deg);
}

.submenu {
  display: none;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 20px;
}

.submenu.open {
  display: flex;
}

.submenu__item {
  display: flex;
  height: 40px;
  width: 100%;
  padding-left: 50px;
}

.submenu__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.submenu__icon-container {
  display: flex;
  justify-content: center;
  max-width: 20px;
  width: 100%;
}

.submenu__link {
  margin-left: 24px;
}

.submenu__item:hover {
  border-left: 3px solid rgba(111, 110, 255);
  padding-left: 47px;
  background: rgb(255, 255, 255, 0.03);
}

.submenu__item:hover .item-text,
.submenu__item:hover .submenu__icon {
  color: rgb(255, 255, 255);
  fill: rgba(104, 104, 255);
}

.submenu__icon {
  fill: rgba(255, 255, 255, 0.5);
}

/* Боковое меню - FOOTER */

.aside__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 30px 30px;
}

/* switch */

.switch {
  position: relative;
  display: flex;
  width: 42px;
  height: 22px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 15px;
}

.input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.4s;
}

.input:checked + .slider:before {
  transform: translateX(20px);
}

.input:checked + .slider.round:before {
  background: rgba(111, 110, 255);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider.round:hover {
  background: rgba(255, 255, 255, 0.1);
}